.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  background-color: #282c34;
  color: white;
  min-height: 60vh;
}

.critterRow {
  color: white;
}

.critterTableHead {
  color: white;
}

.App-Footer {
  min-height: 10vh;
}

.tables {
  display: flex;
}

.dataTable {
  width: 50%;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}