.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 70%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.App-content {
  background-color: #282c34;
  color: white;
  min-height: 60vh;
}

.critterRow {
  color: white;
}

.critterTableHead {
  color: white;
}

.App-Footer {
  min-height: 10vh;
  width: 100%;
}

.tables {
  width: 70%;
  margin: 0 auto;
}

.dataTable {
  display: inline-block;
  width: 100%;
}

.Fishing-location-table {
  width: 50vw;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Hemisphere-selector,
.Critter-selector {
  max-width: 50vw;
  margin: auto;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .Hemisphere-selector {
    max-width: 100vw;
  }

  .Fishing-location-table {
    width: 100vw;
    padding: 10px;
  }

  .tables {
    width: 100vw;
  }

  .dataTable {
    width: 100vw;
  }

  .App-header {
    width: 100%;
  }
}
